<div class="wrapper">
  <div class="side-bar">
    <%= render "posts/side-bar" %>
  </div>
  <div class="side-space"></div>

  <div class="header-mobile">
    <%= render 'shared/header'%>
  </div>
  
  <div class="main-contents">
    <div class="main-header">
      <div class="main-header-upper">
        <div class="main-header-upper_left">
          <div class="title-text">
            Favorite
          </div>
        </div>
        <div class="main-header-upper_right">
          <%= link_to "Download Allhgfv", "#", class: "btn btn-primary" %>
        </div>
      </div>
      <hr>
    </div>
    <div class="posts">
      <% @favorites.each do |favorite| %>
        <% if favorite.post.images.attached? %>
          <div class="post">
            <%= link_to show_image_room_post_path(favorite.room_id, favorite.post, index: favorite.image_id) do %>
              <%= image_tag favorite.post.images[favorite.image_id].variant(resize_to_fill: [300, 300, gravity: 'center']).processed, class: 'img-thumbnail' %>
            <% end %>
          </div>
        <% end %>
      <% end %>  
    </div>
  </div>

  <div class="footer-mobile">
    <%= render 'shared/footer'%>
  </div>
</div>
