<div class="header-upper">
  <div class="header-left">
    <div class="side-bar-header-upper">
      <%# <%= link_to (root_path), class: "header-title" do %>
        MW
      <%# <% end %>
    </div>
  </div>

  <div class="header-center">
    <div class="header-center-title" id="header_home">
      <%= @page_title %>
      <% if @room.present? %>
        <div class="header-center-content">
          <div class="room-nane">
            <%= @room.name %>
          </div>&nbsp;
          <div class="room-day">
            <%= @room.wedding_day.strftime('%Y.%m.%d') %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="header-right"></div>
</div>

<div class="header-bottom">
  <div class="enter-room">
    <%= form_with(url: search_rooms_path, local: true, method: :get, class: "col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3") do |form| %>
      <%= form.text_field :room_path, placeholder: "roomパスワードを入力", class: "form-control" %>
      <%# <%= form.submit "参加", class: "search-btn" %>
    <% end %>
  </div>
</div>