<div class="header-upper">
  <div class="header-left">
    <div class="side-bar-header-upper">
    <%= link_to (root_path), class: "header-title" do %>
      MyWedding
    <% end %>
    </div>
  </div>
  <div class="header-right">
    <div class="header-category">
      <%= link_to(new_room_path, class: 'link-btn') do %>
        <div class="new-room">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 2a.5.5 0 0 1 .5.5v5h5a.5.5 0 0 1 0 1h-5v5a.5.5 0 0 1-1 0v-5h-5a.5.5 0 0 1 0-1h5v-5A.5.5 0 0 1 8 2Z"/>
          </svg>
        </div>
      <% end %>
    </div>
    <div class="header-category">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
      </svg>
      <%= current_user.name %>
      <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }, class: "link-btn" %>
    </div>
  </div>
</div>
<div class="header-middole">
  <div class="header-category">
    <div class="form_room">
      <%= form_with(url: search_rooms_path, local: true, method: :get, class: "search-form") do |form| %>
        <%= form.text_field :room_path, placeholder: "roomパスワードを入力", class: "search-input" %>
        <%= form.submit "参加", class: "search-btn hidden" %>
      <% end %>
    </div>
  </div>
</div>