<%= render "shared/header" %>
<div class="post-main">
  <div class="post_header">
    <%= @room.name %>写真一覧
  </div>
  <div class="posts">
    <%= render partial: 'post', collection: @posts %>
  </div>
</div>

<%# 投稿ボタン %>
<%= link_to(new_room_post_path, class: 'purchase-btn') do %>
  <button type="button" class="btn btn-secondary">New Post</button>
<% end %>
<%= render "shared/footer" %>