<div class="wrapper">
  <div class="show-cover">

    <div class="header-title">
      <div class="side-bar-header-upper">
        <h3><%= link_to 'MyWedding', room_posts_path(@room), class: "root-title" %></h3>
      </div>
    </div>

    <div class="show-main">
      <div class="card" style="width: 26rem;">
        <%= video_tag rails_blob_path(@media, disposition: :attachment), playsinline: true, autoplay: true, muted: true, controls: true, class: "card-img-top" %>
        <div class="card-body">
          <div class="card-header-wrap">
            <div class="card-header-left">
              <%# お気に入りボタン %>
              <span id="like-btn<%= @media.id %>">
                <%= render partial: "favorites/favorite", locals: { room: @room, post: @post, media_id: @video_index, media_type: @media_type} %>
              </span>
              <div class="dl_media_btn">
                <%= link_to rails_blob_path(@media, disposition: "attachment"), class: "link-btn" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  </svg>
                <% end %>
              </div>
            </div>
            
            <div class="card-header-right">
              <div class="post-delet-btn">
                <% if @post.user_id == current_user.id %>
                  <%= link_to destroy_video_room_post_path(@room, @post, params[:index]), data: { turbo_method: :delete, turbo_confirm: "動画を削除してよろしいですか？"} do %>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                      <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
                    </svg>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
          <p class="card-text">
            Thank you for <%= current_user.name if @post.user_id == current_user.id %> coming to our wedding.
          </p>
        
          <div class="show_bottom_btn">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>